<section class="px-3">
  <div class="flex justify-between items-center my-4">
    <p class="text-lg font-medium">dashboard</p>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" class="login-form">
      <div class="w-80">
        <nz-form-item>
          <nz-form-label class="capitalize">Date</nz-form-label>
          <nz-form-control nzErrorTip="Required Field!">
            <nz-select formControlName="date" class="w-28">
              <ng-container *ngFor="let vType of eTimeFilterType | enumToArray">
                <nz-option [nzValue]="vType" [nzLabel]="vType"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>

  <div class="grid gap-4 grid-cols-3">
    <nz-card nzTitle="Total Cars Parked">
      <div class="flex w-full h-full justify-center items-center">
        <p class="w-24 h-24 rounded-full flex justify-center items-center text-2xl bg-purple-600 text-white"> {{totalVahicle}} </p>
      </div>
    </nz-card>
    <nz-card nzTitle="Total Empty Slot">
      <div class="flex w-full h-full justify-center items-center">
        <p class="w-24 h-24 rounded-full flex justify-center items-center text-2xl bg-purple-600 text-white"> 0 </p>
      </div>
    </nz-card>
    <nz-card nzTitle="Vehicle Type Info">
      <p> Car: {{totalCar}} </p>
      <p> Track: {{totalTrack}} </p>
      <p> Microbus: {{totalMicrobus}} </p>
    </nz-card>
  </div>
</section>
